*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
background-image: linear-gradient( to right bottom, rgba(54, 37, 22, 0.35), rgba(66, 38, 14, 0.35)), url("../proj1/hero.jpg");
background-size: cover;
 /* background-position: center; */
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav-list{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3.2rem;
  padding-top: 2rem;
  padding-right: 1.2rem;
 
}
.main-nav-link{
  text-decoration: none;
  color: rgba(255, 188, 87, 0.644);
 
}
h3{
  color: rgba(255, 188, 87, 0.644);
  padding-left: 2rem;
  padding-top: 2rem;
}
.cta{
  padding: 0.4rem 0.8rem;
  border-radius:9px;color: #fff;
  background-color: #e67e22;
}

section{
padding-left: 8rem;
padding-top: 6.5rem;
}
h4{
  color: black;
  padding-bottom: 0.6rem;
}

h1{
  color: black;
  padding-bottom: 0.6rem;
}

p{
  color: rgb(109, 106, 106); 
}
.buttom{
  padding: 0.6rem 1rem;
  margin-right: 70rem;
  border-radius: 7.3rem;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}
  .btn{
color: rgb(109, 106, 106);
text-decoration: none;
  }
  

.rorem{
  margin-bottom: 1rem;
}
